table {
	border: 4px solid black;
}
td:hover{
	background-color:white;
	color:black;
}

tr, th {
	background-color:lightgreen;
	color:black;
}

tr, td {
	background-color:darkgreen;
	color:lightgreen;
}

